joblib
pandas
stopwords
json


































































Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work









joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
json5==0.9.5
pandas==1.2.4
stopwords==1.0.0

